---
---

<div class="about-wrap">
	<div class="about">
		<p class="title">About Us:</p>
		<p class="text">ThingsBoard, Inc. is a US corporation founded in 2016 with RnD center in Kyiv, Ukraine. We are main contributor and maintainer of ThingsBoard open-source IoT Platform.<br><br>We deliver and constantly improve scalable, robust and affordable IoT Platform that dramatically reduces time-to-market for life-changing IoT solutions. We also help companies to deliver great IoT products based on ThingsBoard.</p>
	</div>
</div>

<style lang="scss">
	.about-wrap {
		position: relative;
		margin-bottom: 68px;

		&::before {
			content: '';
			position: absolute;
			width: 300%;
			height: 100%;
			background-color: #f7f7f7;
			left: -100%;
			top: 0;
			z-index: -1;
		}
	}

	.about {
		padding: 64px 0 34px;
	}

	.title {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		color: #212529;
		margin-bottom: 25px;
		margin-top: 0;
	}

	.text {
		font-size: 18px;
		line-height: 30px;
		color: #212529;
		margin: 0;
	}
</style>