---
const techs = [
	{ src: '/images/careers/angular.svg', alt: 'Angular' },
	{ src: '/images/careers/spring.svg', alt: 'Spring' },
	{ src: '/images/careers/java.svg', alt: 'Java' },
	{ src: '/images/careers/typescript.svg', alt: 'TypeScript' },
	{ src: '/images/careers/kafka.svg', alt: 'Kafka' },
	{ src: '/images/careers/redis.svg', alt: 'Redis' },
	{ src: '/images/careers/cassandra.svg', alt: 'Cassandra' },
	{ src: '/images/careers/postgresql.svg', alt: 'PostgreSQL' },
	{ src: '/images/careers/docker.svg', alt: 'Docker' },
	{ src: '/images/careers/kubernets.svg', alt: 'Kubernetes' },
	{ src: '/images/careers/github.svg', alt: 'GitHub' },
	{ src: '/images/careers/aws.svg', alt: 'AWS' },
	{ src: '/images/careers/azure.svg', alt: 'Azure' },
	{ src: '/images/careers/google-cloud.svg', alt: 'Google Cloud' },
];
---

<div class="tech-stack">
	{techs.map((tech) => (
		<object data={tech.src} type="image/svg+xml" aria-label={tech.alt}></object>
	))}
</div>

<style lang="scss">
	.tech-stack {
		padding: 60px 0 80px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		object {
			height: 60px;

			@media (max-width: 1280px) {
				height: 40px;
			}
		}

		@media (max-width: 1280px) {
			padding: 30px 0 40px;
		}
	}
</style>