---
import type { ContentVariant } from '../../util/device-platform';

interface Props {
	variant: ContentVariant;
}

const { variant } = Astro.props;
---

<div class="device-platform-content" data-variant={variant}>
	<slot />
</div>

<style is:global>
	.device-platform-content {
		display: none;
	}

	.device-platform-content.is-active {
		display: block;
	}
</style>
