---
import { allPages } from '~/content';
import { isBackendEntry } from '~/content.config';
import CardsNav from './NavGrid/CardsNav.astro';

const pages = allPages.filter(isBackendEntry);

const links = pages
	.sort((a, b) => (a.id > b.id ? 1 : -1))
	.map((page) => {
		const { logo, sidebar } = page.data;
		if (!sidebar.label) throw new Error('Backend guides must always include a sidebar label.');
		return { title: sidebar.label, href: '/docs/' + page.id + '/', logo };
	});
---

<section>
	<CardsNav links={links} />
</section>
