---
import { allPages } from '~/content';
import {
	type IntegrationCategory,
	type IntegrationEntry,
	isIntegrationEntry,
} from '~/content.config';
import { isLogoKey } from '~/data/logos';
import CardsNav from './NavGrid/CardsNav.astro';

interface Props {
	category?: IntegrationCategory;
}

function categoryLinksFromPages(pages: IntegrationEntry[], category: IntegrationCategory) {
	return pages
		.filter((page) => page.data.category === category)
		.map((page) => {
			const [scope, name] = page.data.title.split(' ').shift()!.split('/');
			return {
				title:
					'<span class="scope">' +
					scope +
					'/</span><wbr>' +
					name.replaceAll('-', '&#8288;-&#8288;'),
				href: '/docs/' + page.id + '/',
				logo: isLogoKey(name),
			};
		});
}

const integrationPages = allPages.filter(isIntegrationEntry);

const allCategories = {
	renderer: {
		title: Astro.locals.t('integrations.renderers'),
		links: categoryLinksFromPages(integrationPages, 'renderer'),
	},
	adapter: {
		title: Astro.locals.t('integrations.adapters'),
		links: categoryLinksFromPages(integrationPages, 'adapter'),
	},
	other: {
		title: Astro.locals.t('integrations.others'),
		links: categoryLinksFromPages(integrationPages, 'other'),
	},
};
const category = allCategories[Astro.props.category!];

const categories = category ? [category] : allCategories;
---

{
	Object.values(categories).map((category) => (
		<>
			<h3>{category.title}</h3>
			<CardsNav minimal links={category.links} class="integrations-nav" />
		</>
	))
}

<style>
	.integrations-nav :global(.scope) {
		font-weight: 400;
		color: var(--sl-color-text);
	}
</style>
