---
import { allPages } from '~/content';
import { isMigrationEntry } from '~/content.config';
import { isLogoKey } from '~/data/logos';
import CardsNav from './NavGrid/CardsNav.astro';

const pages = allPages.filter(isMigrationEntry);

const links = pages
	.sort((a, b) => {
		return a.data.framework.toLowerCase() > b.data.framework.toLowerCase() ? 1 : -1;
	})
	.map((page) => {
		const slug = page.id.split('/').pop()?.replace('from-', '');
		return { title: page.data.framework, href: '/docs/' + page.id + '/', logo: isLogoKey(slug) };
	});
---

<section>
	<CardsNav minimal links={links} />
</section>
