---
import { recipePages } from '~/content';

export interface Props {
	slugs: string[];
}

const recipes = Astro.props.slugs.map((slug) => {
	const entry = recipePages.find((recipe) => recipe.id === slug);
	if (!entry) {
		throw new Error(`Could not find entry for slug "${slug}"`);
	}
	return { slug, title: entry.data.title, altTitle: entry.data.altTitle };
});

const isList = recipes.length > 1;
const labelKey = isList ? 'recipesLink.plural' : 'recipesLink.singular';
const firstRecipe = recipes[0];
if (!firstRecipe) {
	throw new Error('No slugs passed to `<RecipeLinks>` component. Make sure you pass at least one.');
}
---

<div class="root">
	<div class="flex">
		<img src="/houston_chef.webp" width="24" alt="" />
		<strong>{Astro.locals.t(labelKey)}</strong>
		{
			!isList && (
				<a href={`/docs/${firstRecipe.slug}/`}>
					{firstRecipe.altTitle ?? firstRecipe.title}
				</a>
			)
		}
	</div>
	{
		isList && (
			<ul>
				{recipes.map((recipe) => (
					<li>
						<a href={`/docs/${recipe.slug}/`}>
							{recipe.altTitle ?? recipe.title}
						</a>
					</li>
				))}
			</ul>
		)
	}
</div>

<style>
	.flex {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.5rem;
	}
	ul {
		margin-top: 0 !important;
		margin-inline-start: 0.5rem;
	}
</style>
