---
import { recipePages } from '~/content';
import type { DocsEntry } from '~/content.config';
import CardsNav from './NavGrid/CardsNav.astro';

const recipes = recipePages as DocsEntry<'recipe'>[];
---

<div>
	<CardsNav
		links={recipes.map(({ data, id }) => ({
			title: data.altTitle ?? data.title,
			description: data.description,
			href: '/docs/' + id + '/',
		}))}
	/>
</div>
